h1 {
  text-align: center;
  background-color: purple;
  color: #ffffff;
  background-position:center;
  padding: 10px;
}

a {
  color: white;
  text-decoration:none;
  background-color: orange;
  background-position: left;
  padding: 10px;
  border:1px solid black;
  border-radius : 6px;
}
a:hover {
  color: black;
}

p {
	color: black;
}
